@tailwind base;
@tailwind components;
@tailwind utilities;

input,
select {
  @apply border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

button {
  @apply py-2 px-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
}

.black-button {
  background-color: black;
}

.create-button {
  @apply w-full justify-center;
}

.read-button {
  background-color: #ffa200;
  color: black;
  margin-top: 8px;
  margin-bottom: 8px;
}

.read-button:hover {
  background-color: black;
}

a {
  @apply text-blue-500;
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  opacity: 0.64;
  margin-top: 0px;
  font-size: 14px;
}

.tagline {
  opacity: 1;
}

.frontmatter {
  background-color: #a4d5ff;
  padding: 24px;
  border-radius: 4px;
}

.MuiOutlinedInput-root > textarea {
  font-family: "JetBrains Mono", monospace;
}

.MuiTypography-root {
  font-family: "Inter var";
}

.options {
  margin-top: 1em;
}

body {
  background-color: #f0f0f0;
}

$friendlyPurple: #c9b2ff;

.copy-url-box {
  @apply text-center;
  background-color: $friendlyPurple;
  padding: 10px;

  font-weight: bold;
  border-color: black;
  border-style: dotted;
  border-width: 2px;
}

.error-box {
  @apply text-center;
  padding: 10px;
  background-color: #ff7771;
  font-weight: bold;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.success-box {
  @apply text-center;
  padding: 10px;
  background-color: #71ff97;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.view-box {
  background-color: $friendlyPurple;
  padding: 20px;
  margin-top: 10px;
  font-family: "JetBrains Mono";
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  overflow-wrap: break-word;
}

.faq-answer {
  padding-bottom: 16px;
}