@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

$notePadYellow: #fff16b;
$dreamyTeal: #38a0a3;
$deepBlue: #2d46a3;

input,
select {
  @apply border text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

button {
  @apply py-2 px-4 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
}

.black-button {
  background-color: black;
}

@mixin border() {
  border-radius: 4px;
}

button {
  @apply w-full justify-center;
  @include border;
}

.create-button {
  background-color: $deepBlue;
}

.reply-button {
  background-color: $dreamyTeal;
}

.read-button {
  background-color: #ffa200;
  color: black;
  margin-top: 8px;
  margin-bottom: 8px;
}

.read-button:hover {
  background-color: black;
}

.frontmatter {
  background: $deepBlue;
  padding: 12px;
  @include border;
  color: white;
  p {
    a {
      color: white;
      font-weight: 400;
    }
  }
}

// TODO: find nice yellow
// .MuiFormControl-root.secret-text {
//   background-color: lighten($bannerColor, 95%);
// }

.MuiFormControl-root {
  background-color: white;
}

a {
  @apply text-blue-500;
  text-decoration: underline;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

p {
  opacity: 0.64;
  margin-top: 0px;
  font-size: 14px;
}

.tagline {
  opacity: 1;
}

.MuiOutlinedInput-root > textarea {
  font-family: "JetBrains Mono", monospace;
}

.MuiTypography-root {
  font-family: "Inter";
}

.options {
  margin-top: 1em;
}

body {
  background-color: #f0f0f0;
}

$friendlyPurple: #c9b2ff;
$deepPurple: #a32e80;

#copy-url-box {
  @apply text-center;
  background-color: #4d4d4d;
  color: aliceblue;
  padding: 10px;
  resize: none;
  @include border;

  font-weight: bold;
  border-color: black;
  border-style: dotted;
  border-width: 2px;
}

.error-box {
  @apply text-center;
  @include border;

  padding: 10px;
  background-color: #b30117;
  font-weight: bold;
  color: white;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
}

.success-box {
  @apply text-center;
  padding: 10px;
  background-color: $dreamyTeal;
  color: white;
  @include border;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.view-box {
  background-color: #ffffff;
  color: black;
  padding: 20px;
  margin-top: 10px;
  font-family: "JetBrains Mono";
  border-width: 2px;
  border-color: black;
  border-style: dashed;
  // Preserve formatting
  white-space: pre-wrap;
  word-break: break-word;
  @include border;
}

.faq-answer {
  padding-bottom: 16px;
}
